.medicalcare-bacground {
    text-align: center;
    background-color: darkblue;
    height: 40px;
  }
  
  .medicalcare-bacground span {
    color: white;
  }
  
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    list-style-type: none;
  }
  
  ul li {
    margin-left: 10px;
  }
  
  ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
  .secure-delivery {
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;
  }
  
  .secure-delivery span {
    margin-left: 10px;
  }
  
  .select {
    margin-top: 10px;
  }
  
  .logo img {
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .logo span {
    font-size: 10px;
    margin-left: 10px;
    color: gray;
  }
  
  .location {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border: black;
    border-radius: 20px;
    position: relative;
    width: 200px;
  }
  
  .research-product {
    position: relative;
    line-height: 100%;
    display: block;
    color: black;
    min-width: 250px;
    width: 100%;
    text-align: left;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .input i {
    position: absolute;
    top: 0;
  }
  .img{
    height: auto;
    max-width: 100%;
  }
  .entry-meta .meta-item i {
    color: var(--color-secondary);
    font-size: 13px;
    margin-right: 5px;
}
.icons-acquapanna{
    color: blue;
    display: flex;
}
  h2{
   color: black;
  }
     
    button {
     background-color: blue;
     color: white;
   }