*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.medicalcare-bacground{
    background-color: darkblue;
    height: 40px;
    p {
        text-align: center;
        color: white;
        padding: 10px;
        color: white;
        font-size: 15px;
    }

}
.page-click {
   
    padding: 10px;
    ul {
        list-style: none;
        display: flex;
        li{
            margin-left: 10px;
            a{
                text-decoration: none;
                font-size: 13px;
                color: black;
                cursor: pointer;
            }
            &:hover a {
                display: block;
                color: blue;
            }
        }
    }
}

.secure-delivery {
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;

    span{
        margin-left: 10px;
    }
    i{
        font-size: 20px;
    }

    
}
.select {
    margin-top: 10px;
}
.dropdown {
    margin-left: 2;
    img {
        width: 150px;
        margin-top: 20px;
        margin-left: 10px;
    }
    span {
        font-size: 10px;
        margin-left: 10px;
        color: gray;
    }
}
.location {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border: black;
    border-radius: 20px;
    position: relative;
    width: 200px;
}
.research-product {
    position: relative;
    line-height: 100%;
    display: block;
    color: black;
    min-width: 250px;
    width: 100%;
    text-align: left;
    margin: auto;
    box-sizing: border-box;
}
.input {
    i{
        position: absolute;
        top: 0;
    }
}

#navbar-3{
background-color: white;
width: 100%;
// .elements{
// //    display:flex;
// }
}

#main-grid{

    .col-2-custom{
        width: 228px !important;
        height: auto;
    }
}

#product{
    padding-top: 50px;
}
.col-4-custom {
    .timer-cart-all {
        position: relative;
    }
    .timer-cart2{
        position: absolute;
        top: 450px;
        left: 350px;
    }
    
    .extend-card2 {
    
    }
    .basket {
     height: 500px;
     img{
         height: 500px;
         img{
             width: 200px;
             margin-left: 50px;
            }
        }
    }



}

.col-8{
    .card{
        width: 100px;
        height: 350px;
        &:hover .heart{
           display: block;
        }
    } 
}


#product{
   
        .timer-card{
            border: 1px solid red;
            .time{
                .timer-head{

                }
                .timer-image{
                img{
                    max-width: 100%;
                    height: 100%;
                }
                }
                .progress-bar{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: red;
                    
                }
            }
        }
   
}

#banner{
    .container {
       box-sizing: border-box;
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left:0;
       object-fit: cover;
    }
    img{
        height: 100px;
        width: 100px;
    }
}
.blue {
    background-color: darkblue;
}

.site-footer {
    border-color: #e4e5ee ;
}
.col-12 {
    display: flex;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}




// .product{
//     position: relative;
//     -webkit-box-flex: 1;
//     .deals-header{
//         padding: 20px;
//     }
//     .h4{
//         font-size: 20px;
//         color:#233a95;
//     }
//     .countdown{
//         font-size: 20px;
//         width: 30px;
//         height: 3p;
//         background-color: #ed174a;

//     }
//     .deals-counter-text {
//         font-size: 100px;
//         margin-top: 10px;
//         color: gray;
//     }
//     .product-wrapper {
//         background-color: white;
//         .product-sale{
//           background-color: #ed174a;
//         }
//     }
// }

// .span{

//     color: black;
//     .del {
//         color: black;
//     }
    
// }
// .control-instock{
//     color: green;
    
// }