.header-medicalcare {
  position: relative;
    color: #fff;
    background-color: var(--color-primary);
    z-index: 1001;
}
.header-medicalcare .container {
  font-size: .75rem;
  text-align: center;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;


}



/* body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: darkblue ;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .header-right {
    float: right;
  } */